{% extends 'base.html.twig' %}

{% block title %}Data access{% endblock %}

{% block body %}
    {# START - STATIC EXAMPLE OF AUTHENTICATION #}
    {#{% include 'front/authpage.html.twig' %}#}
    {# END - STATIC EXAMPLE OF AUTHENTICATION #}
    {% for controller in controllers %}
        {% set methodId = loop.index %}
        <div class="container-fluid bg-white rounded p-4 mb-3 shadow-sm">
            <div class="row">
                <div class="col-12">
                    <h3>{{ controller.source }} /{{ controller.name }}s</h3>
                    <h6>{{ controller.doc }}</h6>
                    <hr>
                    <button class="btn btn btn-primary shadow-none mb-3 mb-md-0 col-md-3 col-sm-12 m-0"
                            data-toggle="collapse"
                            data-target="#method-{{ methodId }}" aria-expanded="false"
                            aria-controls="method-{{ methodId }}">
                        <i class="fa fas fa-eye"></i> Show/Hide endpoints
                    </button>
                    {% if ((app.user.partner.privileges[controller.source]['GET'] is defined) and (controller.name|lower~'s' in app.user.partner.privileges[controller.source]['GET']|keys))
                        or ((app.user.partner.privileges[controller.source]['POST'] is defined) and (controller.name|lower~'s' in app.user.partner.privileges[controller.source]['POST']|keys))
                        or ((app.user.partner.privileges[controller.source]['PUT'] is defined) and (controller.name|lower~'s' in app.user.partner.privileges[controller.source]['PUT']|keys))
                        or ((app.user.partner.privileges[controller.source]['DELETE'] is defined) and (controller.name|lower~'s' in app.user.partner.privileges[controller.source]['DELETE']|keys)) %}
                        <span class="btn btn btn-secondary col-md-3 col-sm-12 m-0">
                            <i class="fa fas fa-check"></i> You have access right
                        </span>
                        <div class="input-group col-12 pl-0 pr-0 mt-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><small class="font-weight-bold">Access Token</small></span>
                            </div>
                            {% for accessToken in app.user.authToken.accessTokens %}
                                {% if (accessToken.controller == controller.name) and (accessToken.source == controller.source) %}
                                    <input type="text" class="form-control m-0 h-100 shadow-none"
                                           id="access-token-{{ loop.index }}"
                                           aria-describedby="basic-addon3" value="{{ accessToken.value }}" readonly>
                                {% endif %}
                                {# {% else %}
                                     <input type="button" value="Generate" onclick="generateAccess('{{ app.user.id }}','{{ controller.name }}',$(this))">#}
                            {% endfor %}
                            <div class="input-group-append" onclick="copyToClipboard('access-token-{{ loop.index }}')">
                                <span class="input-group-text"><i class="fa fa fa-copy"></i></span>
                            </div>
                        </div>
                    {% else %}
                        <span>
                            {% set ctls = [] %}
                            {% for accessRequest in app.user.accessRequests %}
                                {% set ctls = ctls|merge([accessRequest.controller]) %}
                                {% if (accessRequest.controller == controller.name) and (accessRequest.source == controller.source) and (accessRequest.status != true) %}
                                    <span class="btn btn btn-danger shadow-none col-md-3 col-sm-12">
                               <i class="fa fas fa-clock"></i> Requested {{ accessRequest.requestedAt|date('d-m-Y') }}
                           </span>
                                {% endif %}
                            {% endfor %}
                            {% if controller.name not in ctls %}
                                <button class="btn btn btn-danger shadow-none col-md-3 col-sm-12 req-btn-{{ controller.name }}"
                                        onclick="requestAccess('{{ app.user.id }}','{{ controller.name }}','{{ controller.source }}',$(this))">
                               <i class="fa fas fa-lock"></i> Request access right
                           </button>
                            {% endif %}
                       </span>
                    {% endif %}
                    {% for method in controller.methods %}
                        <div id="method-{{ methodId }}" class="collapse mt-3">
                            <div class="row">
                                <div class="col-12">
                                    <h5>/{{ method.name|upper }} - {{ method.infos|raw }}</h5>
                                    <hr>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-6">
                                    <span class="d-inline-block btn-sm btn-primary btn-{{ method.method }} p-1 rounded font-weight-bold mb-2">{{ method.method }}</span>
                                    <pre class="bg-dark text-light w-100 p-2 rounded">{{ method.endpoint }}</pre>
                                    {% if method.params|length > 0 %}
                                        <h6 class="font-weight-bold">Parameter</h6>
                                        <div class="row col-12 m-0 section-table-header font-weight-bold border p-1 rounded-top">
                                            <div class="col-4 border-right">
                                                Field
                                            </div>
                                            <div class="col-2 border-right">
                                                Type
                                            </div>
                                            <div class="col-6">
                                                Description
                                            </div>
                                        </div>
                                        {% for param in method.params %}
                                            <div class="row col-12 m-0 p-1 bg-white rounded-bottom border border-top-0 pb-2">
                                                <div class="col-4 border-right">
                                                    {{ param.name[1:] }}
                                                </div>
                                                <div class="col-2 border-right">
                                                    {{ param.val }}
                                                </div>
                                                <div class="col-6">
                                                    {{ param.desc }}
                                                </div>
                                            </div>
                                        {% endfor %}
                                    {% else %}
                                        <h6 class="font-weight-bold">No parameters required</h6>
                                    {% endif %}
                                </div>
                                <div class="col-sm-12 col-md-6 mt-3 mt-md-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <ul class="nav nav-tabs border-0"
                                                id="codeTab-{{ methodId }}-{{ loop.index }}"
                                                role="tablist"
                                                style="margin-bottom:-7px;">
                                                <li class="nav-item small w-50">
                                                    <a class="w-100 text-center d-inline-block shadow-none btn-secondary code-btn p-1 rounded font-weight-bold mb-1"
                                                       id="php-tab_{{ methodId }}-{{ loop.index }}" data-toggle="tab"
                                                       href="#php_{{ methodId }}-{{ loop.index }}"
                                                       role="tab"
                                                       aria-controls="php_{{ methodId }}-{{ loop.index }}"
                                                       aria-selected="true">PHP</a>
                                                </li>
                                                <li class="nav-item small w-50">
                                                    <a class="w-100 text-center d-inline-block shadow-none btn-secondary code-btn p-1 rounded font-weight-bold mb-1"
                                                       id="curl-tab_{{ methodId }}-{{ loop.index }}" data-toggle="tab"
                                                       href="#curl_{{ methodId }}-{{ loop.index }}"
                                                       role="tab"
                                                       aria-controls="curl_{{ methodId }}-{{ loop.index }}"
                                                       aria-selected="true">cURL</a>
                                                </li>
                                            </ul>
                                            <div class="tab-content" id="code_{{ methodId }}-{{ loop.index }}">
                                                <div class="tab-pane fade show active"
                                                     id="php_{{ methodId }}-{{ loop.index }}"
                                                     role="tabpanel"
                                                     aria-labelledby="php_{{ methodId }}-{{ loop.index }}">
                                                    <pre class="bg-dark text-light w-100 p-2 rounded">{% include 'front/code/php.html.twig' %}</pre>
                                                </div>
                                                <div class="tab-pane fade" id="curl_{{ methodId }}-{{ loop.index }}"
                                                     role="tabpanel"
                                                     aria-labelledby="curl_{{ methodId }}-{{ loop.index }}">
                                                    <pre class="bg-dark text-light w-100 p-2 rounded language-bash">{% include 'front/code/curl.html.twig' %}</pre>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <hr>
                                            <h6 class="font-weight-bold">Example response:</h6>
                                            <h6 class="text-green">{{ method.response }}</h6>
                                            <pre class="bg-dark text-light w-100 p-2 rounded">{% include 'front/code/response.html.twig' %}</pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    {% endfor %}
{% endblock %}