{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row bg-white" style="height: calc(100vh - 86px)">
        <div class="col-2 border">Left</div>
        <div class="col-10 border" id="size">
            <div class="row">
                <div class="col-12 pl-5 p-4 section-header shadow-sm">
                    <h3 class="section-h3">Users</h3>
                    <span>All</span>
                </div>
                <div class="row w-100 m-0 pl-5 pr-3 p-2 section-table-header border-bottom">
                    <div class="col-2 p-0 border-right text-truncate"><input type="checkbox" id="checkAll"> NAME</div>
                    <div class="col-2 border-right text-truncate">COMPANY</div>
                    <div class="col-2 border-right text-truncate">MAIL</div>
                    <div class="col-3 border-right text-truncate">AUTH TOKEN</div>
                    <div class="col-3 border-right text-truncate">ACCESS TOKEN</div>
                </div>

                <div class="container-fluid w-100 p-0 m-0" style="overflow-y: auto;overflow-x: hidden" id="resize">
                    {% for user in users %}
                        {% set generateAuth = "<button onclick='generateAuth("~ user.id ~",$(this))' class='w-100 btn btn-sm btn-primary shadow-none mr-2 text-truncate'>
            <i class='fas fa-user-lock'></i> &nbsp; Generate authentication token for user
        </a>" %}
                        {% set generateAccess = "<button onclick='generateAccess("~ app.user.id ~",$(this))' class='w-100 btn btn-sm btn-primary shadow-none mr-2 text-truncate'>
            <i class='fas fa-user-lock'></i> &nbsp; Generate access token based on privileges
        </a>" %}
                        <div class="row w-100 m-0 pl-5 pt-2 pb-2 pr-0 border-bottom align-items-center user-result-row">
                            <div class="col-2 p-0 border-right text-green text-truncate">
                                <input type="checkbox"> {{ user.lastName|upper }} {{ user.firstName|capitalize }}
                            </div>
                            {#TODO PARTNER PAGE VIEW#}
                            <div class="col-2 border-right text-truncate">{{ user.partner.name|upper }}</div>
                            <div class="col-2 border-right text-truncate">{{ user.email }}</div>
                            <div class="col-3 border-right text-truncate">{{ user.authToken ? user.authToken.value : generateAuth|raw }}</div>
                            <div class="col-3 text-truncate">{% if user.authToken %}{{ user.authToken.accessToken ? user.authToken.accessToken.value : generateAccess|raw }}{% else %}{{ generateAuth|raw }}{% endif %}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    <script>
        size = $(window).innerHeight();
        full = $('.section-header').innerHeight() + $('.section-table-header').innerHeight();
        nav = $('.navbar').innerHeight();
        $('#resize').css('height', size - nav - full - 2 + 'px')

        $("#checkAll").click(function () {
            $('input:checkbox').not(this).prop('checked', this.checked);
        });
    </script>
{% endblock %}